__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

env/
venv/
.venv/
ENV/
.python-version

.ipynb_checkpoints/
*.nbconvert.ipynb 

data/
datasets/
raw_data/
processed_data/
interim_data/
external/

*.csv
*.tsv
*.xlsx
*.h5
*.parquet
*.db
*sqlite
*.jsonl

models/
weights/
checkpoints/

*.pt 
*.pth 
*.ckpt 
*.tflite
*.onnx
*.pkl
*.mp4

logs/
mlruns/
wandb/
runs/
dist/
node_modules/

outputs/
figures/
results/
plots/
*.png
*.jpg
*.jpeg
*.gif
*.svg



########KEYSSSSSS##########
.env
.env.*
*.env 
*.key 
*.pem
*.p12
*.pfx
secrets.json
credentials.json
config.yaml
services.json
config.json